.character-container {
    margin: 30px auto;
    padding: 20px;
}
.info-box{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
}
.character-picture {
    width: 300px;
    height: 312.5px;
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
}
.character-stats {
    background-color: rgba(10, 10, 40, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(56, 54, 253, 0.5);
    min-width: 250px;
}
.character-stats h2 {
    margin-top: 0;
    color: #FFD700;
}
.character-stats ul {
    list-style: none;
    padding: 0;
}
.character-stats li {
    padding: 6px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: white;
}
.program-box{
    background-color: rgba(10, 10, 40, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(56, 54, 253, 0.5);
    color: #FFD700;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: white;
}
table th, table td {
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    text-align: left;
}
table th {
    background-color: rgba(56, 54, 253, 0.2);
}
@media (max-width: 768px) {
    .info-box {
        flex-direction: column;
        align-items: center;
    }
    .character-picture {
        width: 70%;
    }
    .character-stats {
        width: 90%;
    }
}
.btn-back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    top: 7.5px;
    left: 15px;
    background-color: #FFD700; 
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
.btn-back:hover {
    opacity: 0.8; /*Genomskinlig*/
}